{
    "TOKEN": "MTA1OTM4NjEzNTI0MTAzNTg3Ng.GEpOoc._HIGpBlhoSlYiautqicZdMbvNra_G02P3UuX4Q",
    "PREFIX": "+",
    "BOT_NAME" : "bob",
    "conversationChannels" : "1062122093724045343",
    "OPEN_AI_API_KEY": "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",

    "memberMessageAls" : [
        "hi",
        "hello bob",
        "Hi bob"
    ]
}